App {
  text-align: center;
  margin:0px;
  padding:0px;
  display: flex;
}




.projects {
background-color: pink;
text-align: center;

}

.navbar {
  margin:0px;
}

.home-task-feed {
background-color: lightseagreen;
text-align: center;

}

.snapshot {
background-color: lightcyan;
text-align: center;

}

.login {
  background-color: lightcyan;
  background-image: url('/client/src/images/Logo.png');
  justify-content: center;
  margin: auto;
  padding: 40px;
  border-radius: 5%;
}





