App {
  text-align: center;
  margin:0px;
  padding:0px;
  display: flex;
  background-color: #004CB6;
  color: #E0F1FF;
}

.projects {
background-color: #004CB6;
text-align: center;
color:white;

}

.navbar {
  margin:0px;
}

.home-task-feed {
background-color: lightseagreen;
text-align: center;
}

.snapshot {
background-color: lightcyan;
text-align: center;

}

.logindiv {
  background-color: #004CB6;
}

.login {
  background-color: #95C595;
  justify-content: center;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
}

.projectform {
  padding: 20px;
}

.list {
  list-style-type: none;
  background-color: rgba(149, 197, 149, 0.3);
  /* border: 1px solid black; */
  margin:10px;
  padding:10px;
  border-radius:20px;

}

.listitem {
  border: 1px solid #95C595;
  border-radius:20px;
  margin: 4px;
  padding: 2px;
  font-variant-caps: all-small-caps;
}

.listitem:hover {
  border: 1px solid white;
  cursor: pointer;
  font-weight: bold;
}




